{% extends 'version2/caja/movimientos/base_movimientos.html' %}

{% load static i18n %}
{% load static %}

{% block title_subheader %}Movimiento del dia{% endblock %}
{% block subtitle_subheader %}Crear{% endblock %}

{% block subheader_buttons %}

<a href="{% url 'cajas:lista-movimiento' %}" 
class="btn btn-block btn-icon-primary btn-text-primary btn-hover-scale fw-bold">
<i class="bi bi-arrow-bar-left fs-2"></i> {% trans 'Atras'%}
</a>
    <div>
        <a id="crearMovimientoDelDia"
        class="btn btn-block btn-icon-primary btn-text-primary btn-hover-scale fw-bold">
        {% trans 'Guardar'%}
        </a>
    </div>
{% endblock %}


{% block movimiento_del_dia %}  
    {% include "version2/caja/movimientos/partials/create_movimiento.html" %}
{% endblock movimiento_del_dia %}



{% block extra_js %}
    <script src="{% static 'app/vuejs/validations/valInput2Decimales.js' %}"></script>
    <script src="{% static 'app/vuejs/utils_movimiento.js' %}" ></script>

    <script>
        $("#crearMovimientoDelDia").click(function(){
            app.createInventarioMercaderia()
        })
    </script>
{% endblock extra_js %}