{% extends "layouts/base_app.html" %}
{% load static i18n %}

{% block title %}{% trans 'Start' %}{% endblock %}


{% block container %}
<!--begin::Main-->
    <!--begin::Header Mobile-->

    <!--end::Header Mobile-->
    <div class="d-flex flex-column flex-root">
				{% block container_dash %}
        <!--begin::Page-->
        <div class="d-flex flex-row flex-column-fluid page">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                <!--begin::Header-->
                {% include 'layouts/partials/header_app.html'%}

                <!--end::Header-->
                <!--begin::Content-->
                {% block dash_content %}
								{#% include "layouts/partials/dash_content_example.html"%#}
								{% include "layouts/partials/home_content.html"%}
								{% endblock %}

                <!--end::Content-->
                <!--begin::Footer-->
                {#% include "layouts/partials/footer.html" %#}

                <!--end::Footer-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
				{% endblock %}

    </div>
    <!--end::Main-->
    <!-- begin::User Panel-->
    {% include 'layouts/user/rigth_user_profile.html' %}

    <!-- end::User Panel-->


{% include "layouts/partials/footer.html" %}

<!--end::Main-->
{% endblock %}

{% block extra_scripts %}

{% endblock %}
