{% load static i18n %}
<!--begin::Header & Mobile-->
<div id="kt_header" class="header header-fixed" style="background-color: #D8BB4A;">
  <div class="container-fluid d-flex align-items-stretch justify-content-between">
    <div class="mt-2">
      <!--begin::Logo-->
      <a href="{% url 'home' %}">
        <img alt="Logo" src="{% static 'images/logos_jgp/logo-dark.png' %}" width="136px">
      </a>
    </div>
    <!--begin::Toolbar-->
    <div class="topbar">
      {% if user.username %}
      <!--begin::User loged-->
      <div class="topbar-item">
        <div class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2" 
             style="background-color: #F4EBCB;" id="kt_quick_user_toggle">
          <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">{% trans 'Hola, '%}</span>
          <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">
            {% if '@' in user.username %}
              {{user.username|lower}}
            {% else %}
              @{{user.username|lower}}              
            {% endif %}
          </span>
          <span class="symbol symbol-lg-35 symbol-25 symbol-light-success">
          <span class="symbol-label font-size-h5 font-weight-bold">{{user.username|slice:"0:1"|upper}}</span>
          </span>
        </div>
      </div>
      {% else %}
      <!--end::User without loged-->
      <div class="topbar-item">
        <a href="{% url 'account_login' %}"
            class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2"
            style="background-color: #F4EBCB;">
          <!--span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">Hi,</span-->
          <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">
            Iniciar sesión
          </span>
          <span class="symbol symbol-lg-35 symbol-25 symbol-light-secondary">
            <span class="symbol-label font-size-h5 font-weight-bold" style="background-color:#E9D897;">
              <span class="svg-icon svg-icon-primary svg-icon-2x">
                <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Navigation/Sign-in.svg-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                  height="24px" viewBox="0 0 24 24" version="1.1">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24" />
                    <rect fill="#000000" opacity="0.3"
                      transform="translate(9.000000, 12.000000) rotate(-270.000000) translate(-9.000000, -12.000000) "
                      x="8" y="6" width="2" height="12" rx="1" />
                    <path
                      d="M20,7.00607258 C19.4477153,7.00607258 19,6.55855153 19,6.00650634 C19,5.45446114 19.4477153,5.00694009 20,5.00694009 L21,5.00694009 C23.209139,5.00694009 25,6.7970243 25,9.00520507 L25,15.001735 C25,17.2099158 23.209139,19 21,19 L9,19 C6.790861,19 5,17.2099158 5,15.001735 L5,8.99826498 C5,6.7900842 6.790861,5 9,5 L10.0000048,5 C10.5522896,5 11.0000048,5.44752105 11.0000048,5.99956624 C11.0000048,6.55161144 10.5522896,6.99913249 10.0000048,6.99913249 L9,6.99913249 C7.8954305,6.99913249 7,7.89417459 7,8.99826498 L7,15.001735 C7,16.1058254 7.8954305,17.0008675 9,17.0008675 L21,17.0008675 C22.1045695,17.0008675 23,16.1058254 23,15.001735 L23,9.00520507 C23,7.90111468 22.1045695,7.00607258 21,7.00607258 L20,7.00607258 Z"
                      fill="#000000" fill-rule="nonzero" opacity="0.3"
                      transform="translate(15.000000, 12.000000) rotate(-90.000000) translate(-15.000000, -12.000000) " />
                    <path
                      d="M16.7928932,9.79289322 C17.1834175,9.40236893 17.8165825,9.40236893 18.2071068,9.79289322 C18.5976311,10.1834175 18.5976311,10.8165825 18.2071068,11.2071068 L15.2071068,14.2071068 C14.8165825,14.5976311 14.1834175,14.5976311 13.7928932,14.2071068 L10.7928932,11.2071068 C10.4023689,10.8165825 10.4023689,10.1834175 10.7928932,9.79289322 C11.1834175,9.40236893 11.8165825,9.40236893 12.2071068,9.79289322 L14.5,12.0857864 L16.7928932,9.79289322 Z"
                      fill="#000000" fill-rule="nonzero"
                      transform="translate(14.500000, 12.000000) rotate(-90.000000) translate(-14.500000, -12.000000) " />
                  </g>
                </svg>
                <!--end::Svg Icon-->
              </span>
            </span>
          </span>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div id="kt_header_mobile" class="header-mobile align-items-center" style="background-color: #D8BB4A;">
  <!--begin::Logo-->
  <a href="{% url 'home' %}">
    <img alt="Logo" src="{% static 'images/logos_jgp/logo-dark.png' %}" width="136px">
  </a>
  <!--begin::Toolbar-->
  <div class="d-flex align-items-center">
    <!--begin::Aside Mobile Toggle-->
    <!--button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
      <span></span>
    </button-->
    <!--end::Aside Mobile Toggle-->
    <!--begin::Topbar Mobile Toggle-->
    <button class="btn btn-hover-text-primary p-0 ml-2" id="kt_header_mobile_topbar_toggle">
      <span class="svg-icon svg-icon-xl">
        <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/General/User.svg-->
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
          viewBox="0 0 24 24" version="1.1">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24"></polygon>
            <path
              d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
              fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
            <path
              d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
              fill="#000000" fill-rule="nonzero"></path>
          </g>
        </svg>
        <!--end::Svg Icon-->
      </span>
    </button>
    <!--end::Topbar Mobile Toggle-->
  </div>
</div>
<!--end::Header & Mobile-->