{% load static i18n%}
<!--begin::details View-->
<div class="card mb-5 mb-xl-10" id="kt_profile_details_view" v-show="opcion.perfil">
  <!--begin::Card header-->
  <div class="card-header cursor-pointer">
    <!--begin::Card title-->
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Perfil de usuario</h3>
    </div>
    <!--end::Card title-->
    <!--begin::Action-->
    <a @click="toggleEdit" class="btn btn-primary align-self-center">Editar perfil</a>
    <!--end::Action-->
  </div>
  <!--begin::Card header-->
  <!--begin::Card body-->
  <div class="card-body p-9">
    <!--begin::Row-->
    <div class="row mb-7">
      <!--begin::Label-->
      <label class="col-lg-4 fw-bold text-muted">Nombre completo</label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8">
        {% verbatim %}
        <span class="fw-bolder fs-6 text-gray-800">{{user.first_name}} {{user.last_name}}</span>
        {% endverbatim %}
      </div>
      <!--end::Col-->
    </div>
    <!--end::Row-->
    <!--begin::Input group-->
    <div class="row mb-7">
      <!--begin::Label-->
      <label class="col-lg-4 fw-bold text-muted">Nombre de usuario</label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8 fv-row">
        {% verbatim %}
        <a href="#" class="fw-bold fs-6 text-gray-800 text-hover-primary">{{user.username}}</a>
        {% endverbatim %}
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-7">
      <!--begin::Label-->
      <label class="col-lg-4 fw-bold text-muted">Teléfono/celular
      <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" 
      title="Se recomienda que sea el número de WhatsApp"></i></label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8 d-flex align-items-center">
        {% verbatim %}
        <span class="fw-bolder fs-6 text-gray-800 me-2">{{user.phone}}</span>
        <!--span class="badge badge-success">Verified</span-->
        {% endverbatim %}
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-7">
      <!--begin::Label-->
      <label class="col-lg-4 fw-bold text-muted">Correo Electrónico</label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8">
        {% verbatim %}
        <a href="#" class="fw-bold fs-6 text-gray-800 text-hover-primary">{{user.email}}</a>
        {% endverbatim %}
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-7">
      <!--begin::Label-->
      <label class="col-lg-4 fw-bold text-muted">Fecha de incorporación
      <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" 
      title="Fecha que iniciaste en la empresa"></i></label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8">
        {% verbatim %}
        <span class="fw-bolder fs-6 text-gray-800">{{user.incorporation_date}}</span>
        {% endverbatim %}
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-7">
      <!--begin::Label-->
      <label class="col-lg-4 fw-bold text-muted">Fecha de nacimiento</label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8">
        {% verbatim %}
        <span class="fw-bolder fs-6 text-gray-800">{{user.birthdate}}</span>
        {% endverbatim %}
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-10">
      <!--begin::Label-->
      <label class="col-lg-4 fw-bold text-muted">Codigo de usuario</label>
      <!--begin::Label-->
      <!--begin::Label-->
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800">{{user.code}}</span>
      </div>
      <!--begin::Label-->
    </div>
    <!--begin::Input group-->
    <div class="row mb-10">
      <!--begin::Label-->
      <label class="col-lg-4 fw-bold text-muted">Permisos de usuario</label>
      <!--begin::Label-->
      <!--begin::Label-->
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800">{{user.user_permissions.all}}</span>
      </div>
      <!--begin::Label-->
    </div>

    <!--end::Input group-->
    <!--begin::Notice-->
    <!--div class="notice d-flex bg-light-warning rounded border-warning border border-dashed p-6">
      <span class="svg-icon svg-icon-2tx svg-icon-warning me-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black" />
          <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black" />
          <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black" />
        </svg>
      </span>
      <div class="d-flex flex-stack flex-grow-1">
        <div class="fw-bold">
          <h4 class="text-gray-900 fw-bolder">We need your attention!</h4>
          <div class="fs-6 text-gray-700">Your payment was declined. To start using tools, please
          <a class="fw-bolder" href="../../demo1/dist/account/billing.html">Add Payment Method</a>.</div>
        </div>
      </div>
    </div-->
    <!--end::Notice-->
  </div>
  <!--end::Card body-->
</div>
<!--end::details View-->