{% extends "layouts/errors/base_error.html" %}
{% load static i18n %}

{% block title %}{% trans 'Access Denied' %}{% endblock %}
{% block form_title %}{% trans 'Access Denied!' %}{% endblock %}

{% block error_code %}403{% endblock %}
{% block form_content %}
        {% blocktrans %}
          You don't have enogh permissions to get this page, please, contact us at
           <a  class="text-secondary" href="mailto:support@jesusgranpoder.com"><span class="font-weight-boldest ">support@jesusgranpoder.com</span>.</a>
        {% endblocktrans %}
{% endblock %}
