{% extends "layouts/errors/base_error.html" %}
{% load static i18n %}

{% block title %}{% trans 'Server Error' %}{% endblock %}
{% block form_title %}{% trans 'Internal Server Error!' %}{% endblock %}

{% block error_code %}500{% endblock %}
{% block form_content %}
  {% blocktrans %}
    It's occurred an error in the server, please contact us to get more information at
    <a  class="text-secondary" href="mailto:support@jesusgranpoder.com.bo"><span class="font-weight-boldest ">info@jesusgranpoder.com.bo</span>.</a>
  {% endblocktrans %}
{% endblock %}
