{% load static i18n %}

<!--begin::Curve top-->
<div class="landing-curve landing-blue-jgp-color">
  <svg viewBox="15 -1 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1 48C4.93573 47.6644 8.85984 47.3311 12.7725 47H1489.16C1493.1 47.3311 1497.04 47.6644 1501 48V47H1489.16C914.668 -1.34764 587.282 -1.61174 12.7725 47H1V48Z" fill="currentColor"></path>
  </svg>
</div>
<!--end::Curve top-->
<div class=" " style="background-color: #171a32;">
  <!--begin::Container-->
  <div class="container-fluid">
      <!--begin::Row-->
      <div class="row py-10 py-lg-20">
          <!--begin::Col-->
          <div class="col-lg-3 pe-lg-16 mb-10 mb-lg-0">
              <img src="../../../../static/images/v2landing/Logo-pie.png" class="rounded mx-auto d-block  mb-9"  width="160px" height="100px" alt="">
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-lg-6 pe-lg-16 mb-10 mb-lg-0">
              <h2 class="text-white">Jesús del Gran Poder S.A. <i class="bi bi-patch-check-fill text-success" ></i> </h2>
              <span class="text-white" style="text-align: justify;">Somos una empresa boliviana con mas de 10 años en el Mercado. Nuestra
                  finalidad es ofrecer soluciones a las necesidades de las personas
                  facilitando préstamos y la adquisición de productos con cuotas que sean 
                  accesibles segun la capacidad de pago de cada cliente.
              </span>
          </div>

          
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-lg-3 ps-lg-16  ms-auto">
              <!--begin::Navs-->
              <a href="https://jgp.com.bo/solicitud/" class="btn btn-warning text-dark " style="background-color: #cea715;">¡SOLICITA TU PRESTAMO AQUI!</a>
          </div>
          <!--end::Col-->
      </div>
      <!--end::Row-->
  </div>
  <!--end::Container-->
  <!--begin::Separator-->
  <div class="landing-dark-separator"></div>
  <!--end::Separator-->
  <!--begin::Container-->
  <div class="container">
      <!--begin::Wrapper-->
      <div class="my-5">
          
          <div class="row ">
              <!--begin::Col-->
              
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 text-center">
                  <a href="https://es-la.facebook.com/jesusdelgranpoder.sa/">
                      <h5 class="text-white">
                          <i class="bi bi-facebook fs-6"></i>
                          <span  class="trans">Facebook</span>
                      </h5> 
                  </a>
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 text-center">
                  <a href="https://www.instagram.com/jesusdelgranpoder.sa/">
                      <h5 class="text-white">
                          <i class="bi bi-instagram fs-5"></i>
                          <span  class="trans">Instagram</span>
                      </h5> 
                  </a>
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 text-center trans">
                  <a href="https://wa.me/59160508855" >
                      <h5 class="text-white">
                          <i class="bi bi-whatsapp trans fs-6"></i>
                          <span class="trans">Whatsapp</span>
                      </h5> 
                  </a>
              </div>
              <!--end::Col-->
          </div>
      </div>
      <div>
          <div class="row">
              <div class="my-5 col-xs-12 col-xl-12 col-sm-12 col-md-12 text-center">
                  <span class="text-white ">2022 © JGP S.A.</span>
              </div>
          </div>
      </div>
      <!--end::Wrapper-->
  </div>
  <!--end::Container-->
</div>