{% load static i18n %}

<!--begin::Header-->
<div class="landing-header bg-blue-jgp" data-kt-sticky="true" data-kt-sticky-name="landing-header" 
    data-kt-sticky-offset="{default: '200px', lg: '300px'}" 
    style="">
  <!--begin::Container-->
  <div class="container px-1">
    <!--begin::Wrapper-->
    <div class="d-flex align-items-center justify-content-between">
      <!--begin::Logo-->
      <div class="d-flex align-items-center flex-equal">
        <!--begin::Mobile menu toggle-->
        <button class="btn btn-icon btn-active-color-primary me-3 d-flex d-lg-none" id="kt_landing_menu_toggle">
          <!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
          <span class="svg-icon svg-icon-2hx">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="currentColor"></path>
              <path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="currentColor"></path>
            </svg>
          </span>
          <!--end::Svg Icon-->
        </button>
        <!--end::Mobile menu toggle-->
        <!--begin::Logo image-->
        <a href="{% url 'new-home' %}">
            <img alt="Logo" src="{% static 'images/v2landing/Logo.png' %}" class="logo-default h-40px h-lg-50px" />
            <img alt="Logo" src="{% static 'images/v2landing/Logo.png' %}" class="logo-sticky h-40px h-lg-50px">
        </a>
        <!--end::Logo image-->
      </div>
      <!--end::Logo-->
      <!--begin::Menu wrapper-->
      <div class="d-lg-block bg-blue-jgp" id="kt_header_nav_wrapper">
        <div class="d-lg-block p-5 p-lg-0 fs-6 bg-blue-jgp" data-kt-drawer="true" 
            data-kt-drawer-name="landing-menu" 
            data-kt-drawer-activate="{default: true, lg: false}" 
            data-kt-drawer-overlay="true" data-kt-drawer-width="200px" 
            data-kt-drawer-direction="start" 
            data-kt-drawer-toggle="#kt_landing_menu_toggle" data-kt-swapper="true" 
            data-kt-swapper-mode="prepend" 
            data-kt-swapper-parent="{default: '#kt_body', lg: '#kt_header_nav_wrapper'}" 
            style="">
          <!--begin::Menu-->
          <div class="menu menu-column flex-nowrap menu-rounded menu-lg-row menu-state-title-gold-jgp menu-title-gray-100 menu-state-title-gold-jgp nav nav-flush fs-5 fw-normal" 
              id="kt_landing_menu">
            
            <!--begin::Menu item-->
            <!--div class="menu-item">
              <a class="menu-link nav-link py-3 px-4 px-xxl-6" href="#como_solicitar" 
                  data-kt-scroll-toggle="true" 
                  data-kt-drawer-dismiss="true">¿Como solicitar?</a>
            </div-->
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <!--div class="menu-item">
              <a class="menu-link nav-link py-3 px-4 px-xxl-6" href="#preguntas_frecuentes" 
                  data-kt-scroll-toggle="true" 
                  data-kt-drawer-dismiss="true">Preguntas frecuentes</a>
            </div-->
            <!--end::Menu item-->
            
						{% block header_options %}

            <!--begin::Menu item-->
            <!--div class="menu-item">
              <a class="menu-link nav-link py-3 px-4 px-xxl-6" href="#kt_body" 
                  data-kt-scroll-toggle="true" data-kt-drawer-dismiss="true">Inicio</a>
            </div>
            <div class="menu-item">
              <a class="menu-link nav-link py-3 px-4 px-xxl-6" href="#requisitos" 
                  data-kt-scroll-toggle="true" data-kt-drawer-dismiss="true">Requisitos</a>
            </div>
            <div class="menu-item">
              <a class="menu-link nav-link py-3 px-4 px-xxl-6" href="#sucursales" 
                  data-kt-scroll-toggle="true" 
                  data-kt-drawer-dismiss="true">Sucursales</a>
            </div>
            <div class="menu-item">
              <a class="menu-link nav-link py-3 px-4 px-xxl-6" href="{% url 'quienes-somos' %}" 
                  data-kt-scroll-toggle="true" 
                  data-kt-drawer-dismiss="true">¿Quiénes somos?</a>
            </div-->
            <!--end::Menu item-->
						{% endblock %}
            
            <!--begin::Menu item-->
            <div class="menu menu-lg-rounded menu-lg-row menu-state-title-gold-jgp menu-state-icon-gold-jgp menu-state-bullet-gold-jgp menu-arrow-gray-400 fw-bold my-5 my-lg-0 " 
                id="#kt_header_menu" data-kt-menu="true">
              <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" 
                  class="menu-item menu-lg-down-accordion me-lg-1">
                <span class="menu-link py-3">
                  <span class="menu-title">Más opciones</span>
                  <span class="menu-arrow d-lg-none"></span>
                </span>
                <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown w-100 w-lg-200px p-5 p-lg-5 bg-blue-jgp">
                  <!--begin:Row-->
                  <div class="row" data-kt-menu-dismiss="true">
                    <!--begin:Col-->
                    <div class="col-lg-12 border-left-lg-1">
                      <div class="menu-inline menu-column menu-active-bg">
                        <div class="menu-item">
                          <a href="#" class="menu-link">
                            <span class="menu-bullet">
                              <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Preguntas frecuentes</span>
                          </a>
                        </div>
                        <div class="menu-item">
                          <a href="#" class="menu-link">
                            <span class="menu-bullet">
                              <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Sucursales</span>
                          </a>
                        </div>
                        <div class="menu-item">
                          <a href="#" class="menu-link">
                            <span class="menu-bullet">
                              <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Contactos</span>
                          </a>
                        </div>
                        <div class="menu-item">
                          <a href="#" class="menu-link">
                            <span class="menu-bullet">
                              <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Información de creditos</span>
                          </a>
                        </div>
                        <div class="menu-item">
                          <a href="#" class="menu-link">
                            <span class="menu-bullet">
                              <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Productos</span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!--end:Col-->
                  </div>
                  <!--end:Row-->
                </div>
              </div>
            </div>
            <!--end::Menu item-->

          </div>
          <!--end::Menu-->
        </div>
        
      </div>
      <!--end::Menu wrapper-->
      <!--begin::Toolbar-->
      <div class="flex-equal text-end ms-1 text-blue-jgp">
        <a href="{% url 'account_login' %}" 
            class="btn btn-gold-jgp">
          <svg xmlns="http://www.w3.org/2000/svg" 
              width="18" height="18" fill="currentColor" 
              class="bi bi-person-fill text-blue-jgp" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
        <span class="text-blue-jgp">
          Ingresar
        </span>
        </a>
      </div>
      <!--end::Toolbar-->
    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Container-->
</div>
<!--end::Header-->