{% load static %}


<!--begin::History Section-->
<div class="mb-lg-n15 position-relative z-index-2">
  <!--begin::Container-->
  <div class="container">
    <!--begin::Card-->
    <div class="card" style="filter: drop-shadow(0px 0px 40px rgba(24,27,50, 0,08))">
      <!--begin::Card body-->
      <div class="card-body p-lg-20">
        <!--begin::Heading-->
        <div class="text-center mb-5 mb-lg-10">
          <!--begin::Title-->
          <h3 class="fs-2hx text-dark mb-25" id="quienes_somos" 
              data-kt-scroll-offset="{default: 100, lg: 150}">Jesús del Gran Poder S. A.</h3>
          <!--end::Title-->
        </div>
        <!--end::Heading-->
        <!--begin::Tabs content-->
        <div class="tab-content">
          <!--begin::Tab pane-->
          <div class="tab-pane fade show active" id="kt_landing_projects_latest">
            <!--begin::Row-->
            <div class="row g-10">
              <!--begin::Col-->
              <div class="col-lg-6">
                <!--begin::Item-->
                <div class="mb-10 text-center card-rounded d-flex flex-column justify-content-center p-10 h-lg-100">
                  <!--begin::Top-->
                  <div class="text-center mb-15">
                    <!--begin::Title-->
                    <h3 class="fs-2hx text-dark mb-10">Historia y evolución</h3>
                    <!--end::Title-->
                    <!--begin::Text-->
                    <div class="text-gray-700 fw-bold fs-2">
                      Somos una empresaboliviana con mas de 12 años en el mercado.
                      Nuestra finalidad es ofrecer soluciones a las necesidades de las personas
                      facilitando préstamos y la adquisición de productos con cuotas que sean
                      accesibles segun la capacidad de pago de cada cliente.
                    </div>
                    <!--end::Text-->
                  </div>
                  <!--end::Top-->
                  <!--begin::Overlay-->
                  <div class="overlay">
                  </div>
                  <!--end::Container-->
                </div>
                <!--end::Item-->
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-lg-6">
                <!--begin::Row-->
                <div class="row g-10 mb-10">
                  <!--begin::Col-->
                  <div class="col-lg-6">
                    <!--begin::Item-->
                    <a class="d-block card-rounded overlay" data-fslightbox="lightbox-projects"
                        href="{% static 'new_landing/sucursales/carmen.jpg'%}">
                      <!--begin::Image-->
                      <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded h-250px" 
                          style="background-image:url({% static 'new_landing/sucursales/carmen.jpg'%})"></div>
                      <!--end::Image-->
                      <!--begin::Action-->
                      <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                        <i class="bi bi-eye-fill fs-3x text-white"></i>
                      </div>
                      <!--end::Action-->
                    </a>
                    <!--end::Item-->
                  </div>
                  <!--end::Col-->
                  <!--begin::Col-->
                  <div class="col-lg-6">
                    <!--begin::Item-->
                    <a class="d-block card-rounded overlay" data-fslightbox="lightbox-projects" 
                        href="{% static 'new_landing/sucursales/pampahasi.jpeg'%}">
                      <!--begin::Image-->
                      <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded h-250px" 
                          style="background-image:url({% static 'new_landing/sucursales/pampahasi.jpeg'%})"></div>
                      <!--end::Image-->
                      <!--begin::Action-->
                      <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                        <i class="bi bi-eye-fill fs-3x text-white"></i>
                      </div>
                      <!--end::Action-->
                    </a>
                    <!--end::Item-->
                  </div>
                  <!--end::Col-->
                </div>
                <!--end::Row-->
                <!--begin::Item-->
                <a class="d-block card-rounded overlay" data-fslightbox="lightbox-projects" 
                    href="{% static 'new_landing/sucursales/buenos_aires.jpg'%}">
                  <!--begin::Image-->
                  <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded h-250px" 
                      style="background-image:url({% static 'new_landing/sucursales/buenos_aires.jpg'%})"></div>
                  <!--end::Image-->
                  <!--begin::Action-->
                  <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                    <i class="bi bi-eye-fill fs-3x text-white"></i>
                  </div>
                  <!--end::Action-->
                </a>
                <!--end::Item-->
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
          </div>
          <!--end::Tab pane-->
        </div>
        <!--end::Tabs content-->
        <!--begin::Row-->
        <div class="row g-5 mb-5 mb-lg-15 mt-15">
          <!--begin::Col-->
          <div class="col-sm-6 pe-lg-10">
            <!--begin::Phone-->
            <div class="text-center bg-gray-200 card-rounded d-flex flex-column justify-content-center p-10 h-lg-100">
              <!--begin::Icon-->
              <i class="bi bi-graph-up-arrow fs-3x text-gold-jgp"></i>
              <!--end::Icon-->
              <!--begin::Subtitle-->
              <h1 class="text-dark fw-bolder my-5">Misión</h1>
              <!--end::Subtitle-->
              <!--begin::Number-->
              <div class="text-gray-700 fw-semibold fs-2">
                Otorgar préstamos a todas aquellas personas de bajos
                recursos que no pueden acceder a la banca convencional y asi satisfacer sus necesidades
                comerciales.
              </div>
              <!--end::Number-->
            </div>
            <!--end::Phone-->
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-sm-6 ps-lg-10">
            <!--begin::Address-->
            <div class="text-center bg-gray-200 card-rounded d-flex flex-column justify-content-center p-10 h-lg-100">
              <!--begin::Icon-->
              <i class="bi bi-eye fs-3x text-gold-jgp"></i>
              <!--end::Icon-->
              <!--begin::Subtitle-->
              <h1 class="text-dark fw-bolder my-5">Visión</h1>
              <!--end::Subtitle-->
              <!--begin::Description-->
              <div class="text-gray-700 fw-semibold fs-2">
                Ser una empresa privada líder en el mercado, reconocida por ofrecer préstamos bajos y 
                servicios oportunos a nuestros clientes, brindadndo un trato digno y respetuoso hacia
                el cliente, con un alto nivel de responsabilidad con la sociedad.
              </div>
              <!--end::Description-->
            </div>
            <!--end::Address-->
          </div>
          <!--end::Col-->
        </div>
        <!--end::Row-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Card-->
  </div>
  <!--end::Container-->
</div>
<!--end::History Section-->



<!--begin::Valores Section-->
<div class="py-10 py-lg-20">
  <!--begin::Container-->
  <div class="container">
    <!--begin::Heading-->
    <div class="text-center mb-12">
      <!--begin::Title-->
      <h3 class="fs-2hx text-dark mb-5" id="valores" 
          data-kt-scroll-offset="{default: 100, lg: 150}">Nuestros valores</h3>
      <!--end::Title-->
      <!--begin::Sub-title-->
      <div class="fs-5 text-muted fw-bold">Nos distinguen de la competencia</div>
      <!--end::Sub-title=-->
    </div>
    <!--end::Heading-->
    <!--begin::Slider-->
    <div class="tns tns-default">
      <!--begin::Wrapper-->
      <div data-tns="true" data-tns-loop="true" data-tns-swipe-angle="false" data-tns-speed="2000" data-tns-autoplay="true" data-tns-autoplay-timeout="18000" data-tns-controls="true" data-tns-nav="false" data-tns-items="1" data-tns-center="false" data-tns-dots="false" data-tns-prev-button="#kt_team_slider_prev" data-tns-next-button="#kt_team_slider_next" data-tns-responsive="{1200: {items: 3}, 992: {items: 2}}">
        <!--begin::Item-->
        <div class="text-center">
          <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/metronic/releases/2022-07-14-092914/core/html/src/media/icons/duotune/general/gen030.svg-->
          <span class="svg-icon svg-icon-gold-jgp svg-icon-5x">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.3721 4.65439C17.6415 4.23815 16.8052 4 15.9142 4C14.3444 4 12.9339 4.73924 12.003 5.89633C11.0657 4.73913 9.66 4 8.08626 4C7.19611 4 6.35789 4.23746 5.62804 4.65439C4.06148 5.54462 3 7.26056 3 9.24232C3 9.81001 3.08941 10.3491 3.25153 10.8593C4.12155 14.9013 9.69287 20 12.0034 20C14.2502 20 19.875 14.9013 20.7488 10.8593C20.9109 10.3491 21 9.81001 21 9.24232C21.0007 7.26056 19.9383 5.54462 18.3721 4.65439Z" fill="currentColor"/>
            </svg>
          </span>
          <!--end::Svg Icon-->
          <!--begin::Person-->
          <div class="mb-0">
            <!--begin::Name-->
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">Honestidad</a>
            <!--end::Name-->
            <!--begin::Position-->
            <div class="text-muted fs-6 fw-bold mt-1">Development Lead</div>
            <!--begin::Position-->
          </div>
          <!--end::Person-->
        </div>
        <!--end::Item-->
        <!--begin::Item-->
        <div class="text-center">
          <!--begin::Photo-->
          <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/metronic/releases/2022-07-14-092914/core/html/src/media/icons/duotune/general/gen030.svg-->
          <span class="svg-icon svg-icon-gold-jgp svg-icon-5x">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.3721 4.65439C17.6415 4.23815 16.8052 4 15.9142 4C14.3444 4 12.9339 4.73924 12.003 5.89633C11.0657 4.73913 9.66 4 8.08626 4C7.19611 4 6.35789 4.23746 5.62804 4.65439C4.06148 5.54462 3 7.26056 3 9.24232C3 9.81001 3.08941 10.3491 3.25153 10.8593C4.12155 14.9013 9.69287 20 12.0034 20C14.2502 20 19.875 14.9013 20.7488 10.8593C20.9109 10.3491 21 9.81001 21 9.24232C21.0007 7.26056 19.9383 5.54462 18.3721 4.65439Z" fill="currentColor"/>
            </svg>
          </span>
          <!--end::Svg Icon-->
          <!--begin::Person-->
          <div class="mb-0">
            <!--begin::Name-->
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">Integridad</a>
            <!--end::Name-->
            <!--begin::Position-->
            <div class="text-muted fs-6 fw-bold mt-1">Creative Director</div>
            <!--begin::Position-->
          </div>
          <!--end::Person-->
        </div>
        <!--end::Item-->
        <!--begin::Item-->
        <div class="text-center">
          <!--begin::Photo-->
          <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/metronic/releases/2022-07-14-092914/core/html/src/media/icons/duotune/general/gen030.svg-->
          <span class="svg-icon svg-icon-gold-jgp svg-icon-5x">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.3721 4.65439C17.6415 4.23815 16.8052 4 15.9142 4C14.3444 4 12.9339 4.73924 12.003 5.89633C11.0657 4.73913 9.66 4 8.08626 4C7.19611 4 6.35789 4.23746 5.62804 4.65439C4.06148 5.54462 3 7.26056 3 9.24232C3 9.81001 3.08941 10.3491 3.25153 10.8593C4.12155 14.9013 9.69287 20 12.0034 20C14.2502 20 19.875 14.9013 20.7488 10.8593C20.9109 10.3491 21 9.81001 21 9.24232C21.0007 7.26056 19.9383 5.54462 18.3721 4.65439Z" fill="currentColor"/>
            </svg>
          </span>
          <!--end::Svg Icon-->
          <!--begin::Person-->
          <div class="mb-0">
            <!--begin::Name-->
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">Transparencia</a>
            <!--end::Name-->
            <!--begin::Position-->
            <div class="text-muted fs-6 fw-bold mt-1">Python Expert</div>
            <!--begin::Position-->
          </div>
          <!--end::Person-->
        </div>
        <!--end::Item-->
        <!--begin::Item-->
        <div class="text-center">
          <!--begin::Photo-->
          <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/metronic/releases/2022-07-14-092914/core/html/src/media/icons/duotune/general/gen030.svg-->
          <span class="svg-icon svg-icon-gold-jgp svg-icon-5x">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.3721 4.65439C17.6415 4.23815 16.8052 4 15.9142 4C14.3444 4 12.9339 4.73924 12.003 5.89633C11.0657 4.73913 9.66 4 8.08626 4C7.19611 4 6.35789 4.23746 5.62804 4.65439C4.06148 5.54462 3 7.26056 3 9.24232C3 9.81001 3.08941 10.3491 3.25153 10.8593C4.12155 14.9013 9.69287 20 12.0034 20C14.2502 20 19.875 14.9013 20.7488 10.8593C20.9109 10.3491 21 9.81001 21 9.24232C21.0007 7.26056 19.9383 5.54462 18.3721 4.65439Z" fill="currentColor"/>
            </svg>
          </span>
          <!--end::Svg Icon-->
          <!--begin::Person-->
          <div class="mb-0">
            <!--begin::Name-->
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">Diligencia</a>
            <!--end::Name-->
            <!--begin::Position-->
            <div class="text-muted fs-6 fw-bold mt-1">Project Manager</div>
            <!--begin::Position-->
          </div>
          <!--end::Person-->
        </div>
        <!--end::Item-->
        <!--begin::Item-->
        <div class="text-center">
          <!--begin::Photo-->
          <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/metronic/releases/2022-07-14-092914/core/html/src/media/icons/duotune/general/gen030.svg-->
          <span class="svg-icon svg-icon-gold-jgp svg-icon-5x">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.3721 4.65439C17.6415 4.23815 16.8052 4 15.9142 4C14.3444 4 12.9339 4.73924 12.003 5.89633C11.0657 4.73913 9.66 4 8.08626 4C7.19611 4 6.35789 4.23746 5.62804 4.65439C4.06148 5.54462 3 7.26056 3 9.24232C3 9.81001 3.08941 10.3491 3.25153 10.8593C4.12155 14.9013 9.69287 20 12.0034 20C14.2502 20 19.875 14.9013 20.7488 10.8593C20.9109 10.3491 21 9.81001 21 9.24232C21.0007 7.26056 19.9383 5.54462 18.3721 4.65439Z" fill="currentColor"/>
            </svg>
          </span>
          <!--end::Svg Icon-->
          <!--begin::Person-->
          <div class="mb-0">
            <!--begin::Name-->
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">Empatia</a>
            <!--end::Name-->
            <!--begin::Position-->
            <div class="text-muted fs-6 fw-bold mt-1">Art Director</div>
            <!--begin::Position-->
          </div>
          <!--end::Person-->
        </div>
        <!--end::Item-->
        <!--begin::Item-->
        <div class="text-center">
          <!--begin::Photo-->
          <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/metronic/releases/2022-07-14-092914/core/html/src/media/icons/duotune/general/gen030.svg-->
          <span class="svg-icon svg-icon-gold-jgp svg-icon-5x">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.3721 4.65439C17.6415 4.23815 16.8052 4 15.9142 4C14.3444 4 12.9339 4.73924 12.003 5.89633C11.0657 4.73913 9.66 4 8.08626 4C7.19611 4 6.35789 4.23746 5.62804 4.65439C4.06148 5.54462 3 7.26056 3 9.24232C3 9.81001 3.08941 10.3491 3.25153 10.8593C4.12155 14.9013 9.69287 20 12.0034 20C14.2502 20 19.875 14.9013 20.7488 10.8593C20.9109 10.3491 21 9.81001 21 9.24232C21.0007 7.26056 19.9383 5.54462 18.3721 4.65439Z" fill="currentColor"/>
            </svg>
          </span>
          <!--end::Svg Icon-->
          <!--begin::Person-->
          <div class="mb-0">
            <!--begin::Name-->
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">Amabilidad</a>
            <!--end::Name-->
            <!--begin::Position-->
            <div class="text-muted fs-6 fw-bold mt-1">Marketing Manager</div>
            <!--begin::Position-->
          </div>
          <!--end::Person-->
        </div>
        <!--end::Item-->
        <!--begin::Item-->
        <div class="text-center">
          <!--begin::Photo-->
          <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/metronic/releases/2022-07-14-092914/core/html/src/media/icons/duotune/general/gen030.svg-->
          <span class="svg-icon svg-icon-gold-jgp svg-icon-5x">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.3721 4.65439C17.6415 4.23815 16.8052 4 15.9142 4C14.3444 4 12.9339 4.73924 12.003 5.89633C11.0657 4.73913 9.66 4 8.08626 4C7.19611 4 6.35789 4.23746 5.62804 4.65439C4.06148 5.54462 3 7.26056 3 9.24232C3 9.81001 3.08941 10.3491 3.25153 10.8593C4.12155 14.9013 9.69287 20 12.0034 20C14.2502 20 19.875 14.9013 20.7488 10.8593C20.9109 10.3491 21 9.81001 21 9.24232C21.0007 7.26056 19.9383 5.54462 18.3721 4.65439Z" fill="currentColor"/>
            </svg>
          </span>
          <!--end::Svg Icon-->
          <!--begin::Person-->
          <div class="mb-0">
            <!--begin::Name-->
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">Responsabilidad</a>
            <!--end::Name-->
            <!--begin::Position-->
            <div class="text-muted fs-6 fw-bold mt-1">QA Managers</div>
            <!--begin::Position-->
          </div>
          <!--end::Person-->
        </div>
        <!--end::Item-->
      </div>
      <!--end::Wrapper-->
      <!--begin::Button-->
      <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_prev">
        <!--begin::Svg Icon | path: icons/duotune/arrows/arr074.svg-->
        <span class="svg-icon svg-icon-3x">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M11.2657 11.4343L15.45 7.25C15.8642 6.83579 15.8642 6.16421 15.45 5.75C15.0358 5.33579 14.3642 5.33579 13.95 5.75L8.40712 11.2929C8.01659 11.6834 8.01659 12.3166 8.40712 12.7071L13.95 18.25C14.3642 18.6642 15.0358 18.6642 15.45 18.25C15.8642 17.8358 15.8642 17.1642 15.45 16.75L11.2657 12.5657C10.9533 12.2533 10.9533 11.7467 11.2657 11.4343Z" fill="black" />
          </svg>
        </span>
        <!--end::Svg Icon-->
      </button>
      <!--end::Button-->
      <!--begin::Button-->
      <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_next">
        <!--begin::Svg Icon | path: icons/duotune/arrows/arr071.svg-->
        <span class="svg-icon svg-icon-3x">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M12.6343 12.5657L8.45001 16.75C8.0358 17.1642 8.0358 17.8358 8.45001 18.25C8.86423 18.6642 9.5358 18.6642 9.95001 18.25L15.4929 12.7071C15.8834 12.3166 15.8834 11.6834 15.4929 11.2929L9.95001 5.75C9.5358 5.33579 8.86423 5.33579 8.45001 5.75C8.0358 6.16421 8.0358 6.83579 8.45001 7.25L12.6343 11.4343C12.9467 11.7467 12.9467 12.2533 12.6343 12.5657Z" fill="black" />
          </svg>
        </span>
        <!--end::Svg Icon-->
      </button>
      <!--end::Button-->
    </div>
    <!--end::Slider-->
  </div>
  <!--end::Container-->
</div>
<!--end::Valores Section-->




<!--begin::Nosotros Section-->
<div class="mt-sm-n20">
  <!--begin::Curve top-->
  <div class="landing-curve landing-blue-jgp">
    <svg viewBox="15 -1 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 48C4.93573 47.6644 8.85984 47.3311 12.7725 47H1489.16C1493.1 47.3311 1497.04 47.6644 1501 48V47H1489.16C914.668 -1.34764 587.282 -1.61174 12.7725 47H1V48Z" fill="currentColor"></path>
    </svg>
  </div>
  <!--end::Curve top-->
  <!--begin::Wrapper-->
  <div class="py-20 bg-blue-jgp">
    <!--begin::Container-->
    <div class="container">
      <!--begin::Plans-->
      <div class="d-flex flex-column container pt-lg-20">
        <!--begin::Heading-->
        <div class="mb-13 text-center">
          <h1 class="fs-2hx fw-bolder text-white mb-5" id="equipo" 
              data-kt-scroll-offset="{default: 100, lg: 150}">
            Familia Jesús del Gran Poder
          </h1>
          <div class="text-gray-600 fw-bold fs-5">
            En este video podrás ver a todo el equipo que forma parte de nuestra empresa.
          </div>
        </div>
        <!--end::Heading-->
        <!--begin::Pricing-->
        <div class="text-center" id="kt_pricing">
          <div class="card-body">
            <!--begin::Post content-->
            <!--div class="fs-6 fw-normal text-gray-700 mb-5">You can either decide on your final headline before outstanding you write the most of the rest of your creative post</div-->
            <!--end::Post content-->
            <!--begin::Video-->
            <div class="m-0">
              <!--iframe class="embed-responsive-item rounded h-690px w-100" preload="none"
                  width="1280" height="720" src="{% static 'new_landing/videos/aniversario.mp4' %}" 
                  poster="{% static 'new_landing/videos/poster.png' %}"
                  frameborder="0" allowfullscreen>
              </iframe-->
              <iframe class="embed-responsive-item rounded h-690px w-100"
                  width="900" height="539" src="https://www.youtube.com/embed/ULo_Vi1f0xQ" 
                  title="ANIVERSARIO DE LA EMPRESA 2022" frameborder="0" 
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
              </iframe>
              <!--iframe class="embed-responsive-item rounded h-690px w-100"
                  width="1258" height="708" src="https://www.youtube.com/embed/uMWNenJ-T3Q" 
                  title="36 preguntas curiosas, curiosísimas (complilación)"
                  frameborder="0" 
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                  allowfullscreen>
              </iframe-->
            </div>
            <!--end::Video-->
          </div>
        </div>
        <!--end::Pricing-->
      </div>
      <!--end::Plans-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::Wrapper-->
  <!--begin::Curve bottom-->
  <div class="landing-curve landing-blue-jgp">
    <svg viewBox="15 12 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 11C3.93573 11.3356 7.85984 11.6689 11.7725 12H1488.16C1492.1 11.6689 1496.04 11.3356 1500 11V12H1488.16C913.668 60.3476 586.282 60.6117 11.7725 12H0V11Z" fill="currentColor"></path>
    </svg>
  </div>
  <!--end::Curve bottom-->
</div>
<!--end::Nosotros Section-->



<!--begin::Reconocimientos Section-->
<div class="py-10 py-lg-20">
  <!--begin::Container-->
  <div class="container">
    <!--begin::Card-->
    <div class="card">
      <!--begin::Card body-->
      <div class="card-body p-lg-20">
        <!--begin::Heading-->
        <div class="text-center mb-5 mb-lg-10">
          <!--begin::Title-->
          <h3 class="fs-2hx text-dark mb-5" id="reconocimientos" 
          data-kt-scroll-offset="{default: 100, lg: 150}">
            Reconocimientos
          </h3>
          <!--end::Title-->
        </div>
        <!--end::Heading-->
        <!--begin::Tabs content-->
        <div class="tab-content">
          <!--begin::Tab pane-->
          <div class="tab-pane fade show active" id="kt_landing_projects_latest">
            <!--begin::Row-->
            <div class="row g-10">
              <!--begin::Col-->
              <div class="col-lg-6">
                <!--begin::Item-->
                <a class="d-block card-rounded overlay h-lg-100" data-fslightbox="lightbox-projects" 
                    href="{% static 'new_landing/reconocimientos/reconocimiento_1.png'%}">
                  <!--begin::Image-->
                  <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded h-lg-100 min-h-850px" 
                      style="background-image:url({% static 'new_landing/reconocimientos/reconocimiento_1.png'%})"></div>
                  <!--end::Image-->
                  <!--begin::Action-->
                  <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                    <i class="bi bi-eye-fill fs-3x text-white"></i>
                  </div>
                  <!--end::Action-->
                </a>
                <!--end::Item-->
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-lg-6">
                <!--begin::Item-->
                <a class="d-block card-rounded overlay h-lg-100" data-fslightbox="lightbox-projects" 
                    href="{% static 'new_landing/reconocimientos/reconocimiento_2.jpg'%}">
                  <!--begin::Image-->
                  <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded h-lg-100 min-h-850px" 
                      style="background-image:url({% static 'new_landing/reconocimientos/reconocimiento_2.jpg'%})"></div>
                  <!--end::Image-->
                  <!--begin::Action-->
                  <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                    <i class="bi bi-eye-fill fs-3x text-white"></i>
                  </div>
                  <!--end::Action-->
                </a>
                <!--end::Item-->
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
          </div>
          <!--end::Tab pane-->
        </div>
        <!--end::Tabs content-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Card-->
  </div>
  <!--end::Container-->
</div>
<!--end::Reconocimientos Section-->

