{% load static i18n %}

<!--begin::Requisitos Section-->
<div class="mt-sm-n20">
  <!--begin::Curve top-->
  <div class="landing-curve landing-blue-jgp-color">
    <svg viewBox="15 -1 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 48C4.93573 47.6644 8.85984 47.3311 12.7725 47H1489.16C1493.1 47.3311 1497.04 47.6644 1501 48V47H1489.16C914.668 -1.34764 587.282 -1.61174 12.7725 47H1V48Z" fill="currentColor"></path>
    </svg>
  </div>
  <!--end::Curve top-->
  <!--begin::Wrapper-->
  <div class="py-20 bg-blue-jgp">
    <!--begin::Container-->
    <div class="container">
      <!--begin::Plans-->
      <div class="d-flex flex-column container pt-lg-20">
        <!--begin::Heading-->
        <div class="text-center mb-17">
          <!--begin::Title-->
          <h3 class="fs-2hx text-white mb-5" id="requisitos" data-kt-scroll-offset="{default: 100, lg: 150}">
            Requisitos
          </h3>
          <!--end::Title-->
          <!--begin::Text-->
          <div class="fs-5 text-muted fw-bold">Para prestamos de dinero o productos a plazo</div>
          <!--end::Text-->
        </div>
        <!--end::Heading-->
        <!--begin::Row-->
        <div class="row w-100 gy-10 mb-md-20">
          <!--begin::Col-->
          <div class="col-md-4 px-5">
            <!--begin::Story-->
            <div class="text-center mb-10 mb-md-0">
              <!--begin::Illustration-->
              <!--img src="/metronic8/demo1/assets/media/illustrations/sketchy-1/2.png" class="mh-125px mb-9" alt=""-->
              <!--end::Illustration-->
              <!--begin::Heading-->
              <div class="d-flex flex-center mb-5">
                <!--begin::Badge-->
                <span class="badge badge-circle badge-light-success fw-bold p-5 me-3 fs-3">1</span>
                <!--end::Badge-->
                <!--begin::Title-->
                <div class="fs-5 fs-lg-3 fw-bold text-white">Para asalariados</div>
                <!--end::Title-->
              </div>
              <!--end::Heading-->
            </div>
            <!--end::Story-->
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-md-4 px-5">
            <!--begin::Story-->
            <div class="text-center mb-10 mb-md-0">
              <!--begin::Illustration-->
              <!--img src="/metronic8/demo1/assets/media/illustrations/sketchy-1/8.png" class="mh-125px mb-9" alt=""-->
              <!--end::Illustration-->
              <!--begin::Heading-->
              <div class="d-flex flex-center mb-5">
                <!--begin::Badge-->
                <span class="badge badge-circle badge-light-success fw-bold p-5 me-3 fs-3">2</span>
                <!--end::Badge-->
                <!--begin::Title-->
                <div class="fs-5 fs-lg-3 fw-bold text-white">Para independientes</div>
                <!--end::Title-->
              </div>
              <!--end::Heading-->
            </div>
            <!--end::Story-->
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-md-4 px-5">
            <!--begin::Story-->
            <div class="text-center mb-10 mb-md-0">
              <!--begin::Illustration-->
              <!--img src="/metronic8/demo1/assets/media/illustrations/sketchy-1/12.png" class="mh-125px mb-9" alt=""-->
              <!--end::Illustration-->
              <!--begin::Heading-->
              <div class="d-flex flex-center mb-5">
                <!--begin::Badge-->
                <span class="badge badge-circle badge-light-success fw-bold p-5 me-3 fs-3">3</span>
                <!--end::Badge-->
                <!--begin::Title-->
                <div class="fs-5 fs-lg-3 fw-bold text-white">Para transportistas</div>
                <!--end::Title-->
              </div>
              <!--end::Heading-->
            </div>
            <!--end::Story-->
          </div>
          <!--end::Col-->
        </div>
        <!--end::Row-->
        <!--begin::Requisitos slider-->
        <div class="tns tns-default">
          <!--begin::Slider-->
          <div data-tns="true" data-tns-loop="true" data-tns-swipe-angle="false" 
              data-tns-speed="1500" data-tns-autoplay="true"
              data-tns-autoplay-timeout="18000" data-tns-controls="true" 
              data-tns-nav="true" data-tns-items="1" data-tns-center="false" 
              data-tns-dots="false" data-tns-prev-button="#kt_team_slider_prev1" 
              data-tns-next-button="#kt_team_slider_next1">
            <!--begin::Item-->
            <div class="text-center px-5 pt-5 pt-lg-10 px-lg-10">
              <!--begin::Row-->
              <div class="row g-10">
                <!--begin::Col-->
                <div class="col-12">
                  <div class="d-flex h-100 align-items-center">
                    <!--begin::Option-->
                    <div class="w-100 d-flex flex-column flex-center rounded-3 bg-body py-15 px-10">
                      <!--begin::Heading-->
                      <div class="mb-7 text-center">
                        <!--begin::Title-->
                        <h1 class="text-dark mb-5 fw-boldest">Para transportistas</h1>
                        <!--end::Title-->
                        <!--begin::Description-->
                        <div class="text-gray-400 fw-bold mb-5">Requisitos específicos</div>
                        <!--end::Description-->
                      </div>
                      <!--end::Heading-->
                      <!--begin::Features-->
                      <div class="w-100 px-8">
                        <!--begin::Item-->
                        <div class="d-flex flex-stack mb-5">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-warning fs-2 ml-5"></i>
                            <span class="mr-3">
                              Ser mayor de 21 años

                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-stack mb-5">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-warning fs-2 ml-5"></i>
                            <span class="mr-3">
                              Certificado de accion vigente(original) 

                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-stack mb-5">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-warning fs-2 ml-5"></i>
                            <span class="mr-3">
                              Fotocopia de carnet de identidad vigente

                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-stack mb-5">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-warning fs-2 ml-5"></i>
                            <span class="mr-3">
                              Fotocopia de factura de luz agua, gas o telefono del domicilio

                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-stack mb-5">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-warning fs-2 ml-5"></i>
                            <span class="mr-3">
                              Croquis de domicilio

                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-stack mb-5">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-warning fs-2 ml-5"></i>
                            <span class="mr-3">
                              No estar reportado en la central de riesgos.(MUY IMPORTANTE)
                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-stack mb-5">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-warning fs-2 ml-5"></i>
                            <span class="mr-3">
                              Documentos de vehiculo:
                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-fill mb-5 ps-8">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-blue-jgp fs-6"></i>
                            <span class="mr-3">
                              Fotocopia RUAT 03.
                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-fill mb-5 ps-8">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-blue-jgp fs-6"></i>
                            <span class="mr-3">
                              Fotocopia del SOAT.
                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-fill mb-5 ps-8">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-blue-jgp fs-6"></i>
                            <span class="mr-3">
                              Documento de compra y venta.
                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-fill mb-5 ps-8">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-blue-jgp fs-6"></i>
                            <span class="mr-3">
                              Minuta o poder notarial.
                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-stack mb-5">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-warning fs-2 ml-5"></i>
                            <span class="mr-3">
                              En caso de tener deudas en otras instituciones:
                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-stack mb-5 ps-8">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-blue-jgp fs-6"></i>
                            <span class="mr-3">
                              3 últimas boletas de pago
                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-stack mb-5 ps-8">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-blue-jgp fs-6"></i>
                            <span class="mr-3">
                              Plan de pagos
                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                      </div>
                      <!--end::Features-->
                      <!--begin::Select-->
                      <!--a href="#" class="btn btn-primary">Select</a-->
                      <!--end::Select-->
                    </div>
                    <!--end::Option-->
                  </div>
                </div>
                <!--end::Col-->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="text-center px-5 pt-5 pt-lg-10 px-lg-10">
              <!--begin::Row-->
              <div class="row g-10">
                <!--begin::Col-->
                <div class="col-12">
                  <div class="d-flex h-100 align-items-center">
                    <!--begin::Option-->
                    <div class="w-100 d-flex flex-column flex-center rounded-3 bg-body py-15 px-10">
                      <!--begin::Heading-->
                      <div class="mb-7 text-center">
                        <!--begin::Title-->
                        <h1 class="text-dark mb-5 fw-boldest">Requisitos para prestamo o compra al contado</h1>
                        <!--end::Title-->
                        <!--begin::Description-->
                        <div class="text-gray-400 fw-bold mb-5">Requisitos para prestamo o compra al contado</div>
                        <!--end::Description-->
                      </div>
                      <!--end::Heading-->
                      <!--begin::Features-->
                      <div class="w-100 px-8">
                        <!--begin::Item-->
                        <div class="d-flex flex-stack mb-5">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-warning fs-2 ml-5"></i>
                            <span class="mr-3">
                              Ser mayor de 21 años

                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-stack mb-5">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-warning fs-2 ml-5"></i>
                            <span class="mr-3">
                              Tener actividad económico estable

                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-stack mb-5">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-warning fs-2 ml-5"></i>
                            <span class="mr-3">
                              No estar reportado en la central de riesgos.(MUY IMPORTANTE)

                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-stack mb-5">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-warning fs-2 ml-5"></i>
                            <span class="mr-3">
                              Fotocopia de carnet de identidad vigente

                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-stack mb-5">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-warning fs-2 ml-5"></i>
                            <span class="mr-3">
                              Fotocopia de factura de luz, agua o telefono del domicilio

                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-stack mb-5">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-warning fs-2 ml-5"></i>
                            <span class="mr-3">
                              Croquis
                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-stack mb-5">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-warning fs-2 ml-5"></i>
                            <span class="mr-3">
                              Respaldo de actividad:
                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-fill mb-5 ps-8">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-blue-jgp fs-6"></i>
                            <span class="mr-3">
                               Para asalariados.
                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-fill mb-5 ps-8">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-blue-jgp fs-6"></i>
                            <span class="mr-3">
                              Para indepedientes.
                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-stack mb-5">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-warning fs-2 ml-5"></i>
                            <span class="mr-3">
                              3 ultimas boletas de pago y plan de pagos
                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-fill mb-5 ps-8">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-blue-jgp fs-6"></i>
                            <span class="mr-3">
                              En caso de tener deudas en otras instituciones
                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-stack mb-5">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-warning fs-2 ml-5"></i>
                            <span class="mr-3">
                              Garantias:
                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-stack mb-5 ps-8">
                          <span class="fw-bold fs-6 text-gray-800 text-start pe-3">
                            <i class="bi bi-check2-circle text-blue-jgp fs-6"></i>
                            <span class="mr-3">
                              Personal o documento en custodia
                            </span>
                          </span>
                        </div>
                        <!--end::Item-->
                      </div>
                      <!--end::Features-->
                      <!--begin::Select-->
                      <!--a href="#" class="btn btn-primary">Select</a-->
                      <!--end::Select-->
                    </div>
                    <!--end::Option-->
                  </div>
                </div>
                <!--end::Col-->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Item-->
          </div>
          <!--end::Slider-->
          <!--begin::Slider button-->
          <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_prev1">
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr074.svg-->
            <span class="svg-icon svg-icon-3x">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M11.2657 11.4343L15.45 7.25C15.8642 6.83579 15.8642 6.16421 15.45 5.75C15.0358 5.33579 14.3642 5.33579 13.95 5.75L8.40712 11.2929C8.01659 11.6834 8.01659 12.3166 8.40712 12.7071L13.95 18.25C14.3642 18.6642 15.0358 18.6642 15.45 18.25C15.8642 17.8358 15.8642 17.1642 15.45 16.75L11.2657 12.5657C10.9533 12.2533 10.9533 11.7467 11.2657 11.4343Z" fill="black" />
              </svg>
            </span>
            <!--end::Svg Icon-->
          </button>
          <!--end::Slider button-->
          <!--begin::Slider button-->
          <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_next1">
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr071.svg-->
            <span class="svg-icon svg-icon-3x">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M12.6343 12.5657L8.45001 16.75C8.0358 17.1642 8.0358 17.8358 8.45001 18.25C8.86423 18.6642 9.5358 18.6642 9.95001 18.25L15.4929 12.7071C15.8834 12.3166 15.8834 11.6834 15.4929 11.2929L9.95001 5.75C9.5358 5.33579 8.86423 5.33579 8.45001 5.75C8.0358 6.16421 8.0358 6.83579 8.45001 7.25L12.6343 11.4343C12.9467 11.7467 12.9467 12.2533 12.6343 12.5657Z" fill="black" />
              </svg>
            </span>
            <!--end::Svg Icon-->
          </button>
          <!--end::Slider button-->
        </div>
        <!--end::Requisitos slider-->

      </div>
      <!--end::Plans-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::Wrapper-->
  <!--begin::Curve bottom-->
  <div class="landing-curve landing-blue-jgp-color">
    <svg viewBox="15 12 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 11C3.93573 11.3356 7.85984 11.6689 11.7725 12H1488.16C1492.1 11.6689 1496.04 11.3356 1500 11V12H1488.16C913.668 60.3476 586.282 60.6117 11.7725 12H0V11Z" fill="currentColor"></path>
    </svg>
  </div>
  <!--end::Curve bottom-->
</div>
<!--end::Requisitos Section-->