{% load static %}
<!--begin::tu Crecimiento-->
<div class="mt-15 mb-15">
    <!--begin::Container-->
    <div class="container">
         <!--begin::Heading-->
         <div class="text-center">
            <!--begin::Title-->
            <h3 class="fs-2hx text-dark mb-10">Tu crecimiento es nuestro objetivo</h3>
            <!--end::Title-->
        </div>
        <!--end::Heading-->
        <!--begin::Row-->
        <div class="row">
            <!--begin::Col-->
            <div class="col-md-4 d-none d-none d-sm-block">
                <!--begin::Story-->
                <div class="text-center mb-md-0">
                    <div class="card card-flush  align-items-center mb-4" style="background-color: #171a32;">
                        <img src="{% static 'images/v2landing/Vector.png'%}" class="mh-125px my-10 mx-10" width="150px"  alt="">
                    </div>
                    <div class="d-flex flex-center">
                        <!--begin::Title-->
                        <div class="fs-5 fs-lg-3 fw-bolder text-dark mb-4">Préstamo de dinero</div>
                    <!--end::Title-->
                    </div>
                    <!--begin::Illustration-->
                </div>
                <!--end::Story-->
            </div>
            <!-- FUNCIONES RESPONSIVE CARD MOBIL -->
            <div class="card mb-10 d-block d-sm-none color-Oscuro-Empresa" style="max-width: 540px;background-color: #171a32">
                <div class="row g-0">
                    <div class="col-4 col-xs-6 col-sm-6 col-md-4 mt-8">
                        <img src="{% static 'images/v2landing/Vector.png'%} " class="ms-8 my-6 rounded-start" height="100" width="100" alt="...">
                    </div>
                    <div class="col-8 col-xs-6 col-sm-6 col-md-4">
                        <div class="card-body text-white">
                            <h5 class="card-title text-white">Prestamo de dinero</h5>
                            <p class="card-text" style="text-align: justify;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN FUNCIONES RESPONSIVE CARD MOBIL -->
            <!--end::Col-->
            
            <!--begin::Col-->
            <div class="col-md-4 d-none d-none d-sm-block">
                <!--begin::Story-->
                <div class="text-center mb-md-0">
                    <div class="card card-flush align-items-center mb-4" style="background-color: #171a32;">
                        <img src="{% static 'images/v2landing/Vector-1.png'%}" class="mh-125px my-10 mx-10" width="150px"  alt="">
                    </div>
                    <!--begin::Heading-->
                    <div class="d-flex flex-center">
                        <!--begin::Title-->
                        <div class="fs-5 fs-lg-3 fw-bolder text-dark mb-4">Productos a credito</div>
                        <!--end::Title-->
                    </div>
                    <!--end::Heading-->
                </div>
                <!--end::Story-->
            </div>
            <!-- FUNCIONES RESPONSIVE CARD MOBIL -->
            <div class="card mb-10 d-block d-sm-none color-Oscuro-Empresa" style="max-width: 540px;background-color: #171a32">
                <div class="row g-0">
                    <div class="col-4 col-xs-6 col-sm-6 col-md-4 mt-8">
                        <img src="{% static '/images/v2landing/Vector-1.png' %}" class="ms-8 my-6 rounded-start" height="100" width="100" alt="...">
                    </div>
                    <div class="col-8 col-xs-6 col-sm-6 col-md-4">
                        <div class="card-body text-white">
                            <h5 class="card-title text-white">Productos a credito</h5>
                            <p class="card-text" style="text-align: justify;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin FUNCIONES RESPONSIVE CARD MOBIL -->
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-4 d-none d-none d-sm-block">
                <!--begin::Story-->
                <div class="text-center mb-md-0">
                    <div class="card card-flush align-items-center mb-4" style="background-color: #171a32;">
                        <img src="{% static 'images/v2landing/Vector-2.png'%}" class="mh-125px my-10 mx-10" width="150px"  alt="">
                    </div>
                    <!--begin::Heading-->
                    <div class="d-flex flex-center">
                        <!--begin::Title-->
                        <div class="fs-5 fs-lg-3 fw-bolder text-dark mb-4">Pago de servicios</div>
                        <!--end::Title-->
                    </div>
                    <!--end::Heading-->
                </div>
                <!--end::Story-->
            </div>
            <!--end::Col-->
            <!-- FUNCIONES RESPONSIVE CARD MOBIL -->
            <div class="card mb-10 d-block d-sm-none color-Oscuro-Empresa"  style="max-width: 540px; background-color: #171a32;">
                <div class="row ">
                    <div class="col-4 col-xs-6 col-sm-6 col-md-4 mt-8  ">
                        <img src=" {% static '/images/v2landing/Vector-2.png' %}" class="ms-8 my-6 rounded-start" height="100" width="100" alt="...">
                    </div>
                    <div class="col-8 col-xs-6 col-sm-6 col-md-4">
                        <div class="card-body text-white">
                            <h5 class="card-title text-white">Pago de servicios</h5>
                            <p class="card-text" style="text-align: justify;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN FUNCIONES RESPONSIVE CARD -->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--End::begin::tu Crecimiento-->