{% load static i18n %}

<!--begin::Projects Section-->
<div class="mb-lg-n15 position-relative z-index-2">
  <!--begin::Container-->
  <div class="container px-0">
    <!--begin::Card-->
    <div class="card" style="filter: drop-shadow(0px 0px 40px rgba(68, 81, 96, 0.08))">
      <!--begin::Card body-->
      <div class="card-body p-lg-20">
        <!--begin::Heading-->
        <div class="text-center mb-5 mb-lg-10">
          <!--begin::Title-->
          <h3 class="fs-2hx text-dark mb-5" id="portfolio" data-kt-scroll-offset="{default: 100, lg: 150}">Servicios</h3>
          <!--end::Title-->
        </div>
        <!--end::Heading-->
        <!--begin::Statistics-->
        <div class="d-flex flex-center">
          <!--begin::Items-->
          <div class="d-flex flex-wrap flex-center justify-content-lg-between mb-15 mx-auto w-xl-900px">
            <!--begin::Item-->
            <div class="d-flex flex-column flex-center h-200px w-200px h-lg-200px w-lg-250px m-3 bg-blue-jgp rounded-2">
              <!--begin::Symbol-->
              <img src="{% static 'images/v2landing/Vector.png'%} " class="my-6 rounded-start" height="100" width="100" alt="...">
              <!--end::Symbol-->
              <!--begin::Info-->
              <div class="mb-0">
                <!--begin::Label-->
                <span class="text-gray-200 fw-bold fs-3 lh-0">Prestamo de dinero</span>
                <!--end::Label-->
              </div>
              <!--end::Info-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="d-flex flex-column flex-center h-200px w-200px h-lg-200px w-lg-250px m-3 bg-blue-jgp rounded-2">
              <!--begin::Symbol-->
              <!--begin::Svg Icon | path: icons/duotune/graphs/gra008.svg-->
              <img src="{% static 'images/v2landing/Vector-1.png'%} " class="my-6 rounded-start" height="100" width="100" alt="...">
              <!--end::Svg Icon-->
              <!--end::Symbol-->
              <!--begin::Info-->
              <div class="mb-0">
                <!--begin::Label-->
                <span class="text-gray-200 fw-bold fs-3 lh-0">Productos a crédito</span>
                <!--end::Label-->
              </div>
              <!--end::Info-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="d-flex flex-column flex-center h-200px w-200px h-lg-200px w-lg-250px m-3 bg-blue-jgp rounded-2">
              <!--begin::Symbol-->
              <img src="{% static 'images/v2landing/Vector-2.png'%} " class="my-6 rounded-start" height="100" width="100" alt="...">
              <!--end::Symbol-->
              <!--begin::Info-->
              <div class="mb-0">
                <!--begin::Label-->
                <span class="text-gray-200 fw-bold fs-3 lh-0">Pago de servicio </span>
                <!--end::Label-->
              </div>
              <!--end::Info-->
            </div>
            <!--end::Item-->
          </div>
          <!--end::Items-->
        </div>
        <!--end::Statistics-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Card-->
  </div>
  <!--end::Container-->
</div>
<!--end::Projects Section-->