{% extends 'version2/zona/base_zona.html' %}
{% load static i18n %}
{% load static %}

{% block title_subheader %}ZONAS{% endblock %}
{% block subtitle_subheader %}Crear{% endblock %}

{% block subheader_buttons %}

<a href="{% url 'zona:zona'%}" 
class="btn btn-block btn-icon-primary btn-text-primary btn-hover-scale fw-bold">
<i class="bi bi-arrow-bar-left fs-2"></i> {% trans 'Atras'%}
</a>
    <div>
        <a id="btnSaveZona" 
        class="btn btn-block btn-icon-primary btn-text-primary btn-hover-scale fw-bold">
        {% trans 'Guardar'%}
        </a>
    </div>


{% endblock %}




{% block content_tabla %}  

    {% include "version2/zona/partials/form.html" %}
  
{% endblock content_tabla%}

{% block extra_js %}

<script>
    $("#btnSaveZona").click(function(){
        app.createZona();
    })
</script>

{% endblock extra_js %}