.save{
    display : none;
}

.select2-container.select2-selection--single {
    height: 50px;
}
.select2-selection__rendered {
    line-height: 40px !important;
}
.select2-container .select2-selection--single {
    height: 45px !important;
}
.select2-selection__arrow {
    height: 50px !important;
}

.form-select {
    padding: 0.2rem;
}


.form-check.form-check-custom .form-check-label {
    margin-left: 0rem;
}

.movimiento{
    border: 1px solid #ddd;
    padding: 1px;
    vertical-align: top;
    border-collapse: separate;
}