@media print 
{
  @page {
    size: 220mm 280mm; 
    margin-left: 1cm;
    margin-right: 2cm;
    margin-top: -1cm;
    margin-bottom: -1cm;
  }
  body {
    width: 220mm;
    height: 280mm;
    overflow:visible;
    margin-top: -2cm;
  }  
  .body {
    width: 220mm;
    height: 280mm;
    overflow:visible;
  }  
  .body-print{
    text-align: justify;
    font-size: 16px !important;
  }
  .membrete-print {
    margin-top: -2cm !important;
    margin-bottom: 1cm !important;
    display: block !important;
    position: absolute !important;
  }
  .no-print{
    display:none !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .firma-section {
    margin-top: 20%;
    margin-bottom: 10%;
  }
  .header{
    visibility:hidden !important;
    display: none !important;
  }
  .header-membrete {
    margin-top: 2cm !important;
    margin-bottom: 1cm !important;
  }
  .footer{
    display: inline !important;
    bottom: 0 !important;
    margin-top: 1.5cm;
    margin-left: 2cm;
    font-size: 12px !important;
  }
  .footer.no-print{
    display: none !important;
    margin: 0;
    padding: 0;
  }
  .note{
    font-size: 12px;
    margin-top: 1cm;
  }
  .enlace{ font-size: 12px;}
  .imagenqr{
    margin-top: 5cm;
    width: 3cm !important;
    height: 3cm !important;
  }
  
}